.container aside ul li:nth-child(1){background:url(../images/left_link_02.jpg) no-repeat 7.5187% center;border-color: #fff;}
.container aside ul li:nth-child(2){background:url(../images/left_link_06.jpg) no-repeat 7.5187% center;}
.container aside ul li:nth-child(3){background:url(../images/left_link_08.jpg) no-repeat 7.5187% center;}
.container aside ul li:nth-child(4){background:url(../images/left_link_10.jpg) no-repeat 7.5187% center;}
.container aside ul li:nth-child(5){background:url(../images/left_link_13.jpg) no-repeat 7.5187% center;border-color: #F99736;}
.container aside ul li:nth-child(6){background:url(../images/left_link_14.jpg) no-repeat 7.5187% center;}
.container aside ul li:nth-child(7){background:url(../images/left_link_16.jpg) no-repeat 7.5187% center;}
.container aside ul li:nth-child(8){background:url(../images/left_link_18.jpg) no-repeat 7.5187% center;}
.container aside ul li:nth-child(9){background:url(../images/left_link_20.jpg) no-repeat 7.5187% center;}