.container aside ul li:nth-child(1){background: url(../images/pic2.gif) no-repeat 7.5187% center;border-color:#fff;}
.container aside ul li:nth-child(2){background: url(../images/pic4.gif) no-repeat 7.5187% center;}
.container aside ul li:nth-child(3){background: url(../images/pic6.gif) no-repeat 7.5187% center;}
.container aside ul li:nth-child(4){background: url(../images/pic8.gif) no-repeat 7.5187% center;}
.container aside ul li:nth-child(5){background: url(../images/pic10.gif) no-repeat 7.5187% center;}
.container aside ul li:nth-child(6){background: url(../images/pic11.gif) no-repeat 7.5187% center;border-color:#f99736;}